@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showText {
  to {
    color: white;
  }
}

@keyframes swipeIn {
  25% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes shadowIn {
  to {
    box-shadow: var(--box-shadow);
  }
}

@keyframes scaleIn {
  to {
    transform: translateX(50%) scale(1);
  }
}

@keyframes fadeUp {
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}