h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: colors .25s ease-in-out;
  
  &:hover {
    color: var(--text-primary);

    &:after {
      transform: scaleX(100%);
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--text-primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: all .25s var(--easing);
  }
}